<section class="bg-light py-5 open_sans">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 class="text-danger">About Rozy real estate properties</h4>
                <p class="small">  Welcome to Rozy Real Estate Properties, your go-to source for all things real estate. Our mission is to help individuals and families navigate the complex world of real estate by providing up-to-date information, expert advice, and top-notch services.</p>

            </div>
            <div class="col-6">
                <h4 class="text-danger">Stay Connected with RREP</h4>
                <p class="small">we understand that buying or selling a property can be a major life decision. That's why we strive to provide our clients with the highest level of customer service and support, from start to finish. Whether you're a first-time homebuyer or a seasoned investor, we are here to help you achieve your real estate goals.</p>


                <div class="row pt-3">
                    <div class="col-12 ">
                        <h6 class="text_gray"><a href="#"><i class="fab fa-facebook-f text_gray"> facebook</i></a>  <a href="#"><i class="fab fa-twitter text_gray pl-3"> twitter</i></a> <a href="#"><i class="fab fa-linkedin text_gray pl-3 "> linkedin</i></a> <a href="#"><i class="fab fa-instagram text_gray pl-3"> instagram</i></a> <a href="#"><i class="fas fa-envelope text_gray pl-3"> email</i></a> </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-1">
    <div class="container">
        <div class="row pt-2">
            <div class="col-3">
                <p class="mt-2">Made with <i class="fas fa-heart text-danger"></i> Nana</p>
            </div>
            <div class="col-3 text-center">
                <h3 class="text-danger">RREP</h3>
            </div>
            <div class="col-6">
                <ul class="nav float-right">
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>
